apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.backend.replicas }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
        imagePullPolicy: {{ .Values.backend.image.pullPolicy | default "IfNotPresent" }}
        ports:
        - containerPort: {{ .Values.backend.containerPort }}
        env:
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: {{ .Values.backend.secretName }}
              key: DB_HOST
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: {{ .Values.backend.secretName }}
              key: DB_USER
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              name: {{ .Values.backend.secretName }}
              key: DB_PASS
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: {{ .Values.backend.secretName }}
              key: DB_NAME
        - name: REDIS_HOST
          valueFrom:
            secretKeyRef:
              name: {{ .Values.backend.secretName }}
              key: REDIS_HOST
        resources:
          requests:
            cpu: {{ .Values.backend.resources.requests.cpu }}
            memory: {{ .Values.backend.resources.requests.memory }}
          limits:
            cpu: {{ .Values.backend.resources.limits.cpu }}
            memory: {{ .Values.backend.resources.limits.memory }}

---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: {{ .Values.backend.servicePort }}
      targetPort: {{ .Values.backend.containerPort }}
  type: {{ .Values.backend.serviceType }}