apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: {{ .Values.namespace }}
type: Opaque
data:
  DB_HOST: {{ .Values.backendSecret.DB_HOST | b64enc }}
  DB_USER: {{ .Values.backendSecret.DB_USER | b64enc }}
  DB_PASS: {{ .Values.backendSecret.DB_PASS | b64enc }}
  DB_NAME: {{ .Values.backendSecret.DB_NAME | b64enc }}
  REDIS_HOST: {{ .Values.backendSecret.REDIS_HOST | b64enc }}
