apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-backend-to-db
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app: mysql
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              app: {{ .Values.networkPolicy.dbIngressAllowedFromApp }}
      ports:
        - protocol: TCP
          port: {{ .Values.networkPolicy.mysqlPort }}
