apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: default-deny-ingress
  namespace: {{ .Values.namespace }}
spec:
  podSelector: {}  # applies to all pods in namespace
  policyTypes:
    - Ingress
    - Egress
