apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-ingress-nginx-to-frontend
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app: frontend
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.networkPolicy.ingressNamespace }}
          podSelector:
            matchLabels:
              {{ .Values.networkPolicy.ingressPodLabelKey }}: {{ .Values.networkPolicy.ingressPodLabelValue | quote }}
      ports:
        - protocol: TCP
          port: {{ .Values.networkPolicy.frontendIngressPort }}
