apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cloud-ninjas
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - image: omaradel2001/backend:v1.0
        name: backend
        env:
        - name: DB_HOST
          value: mysql
        - name: REDIS_HOST
          value: redis
        ports:
        - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: cloud-ninjas
spec:
  selector:
    app: backend
  ports:
  - port: 8000
