apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  namespace: cloud-ninjas
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
      - image: omaradel2001/db:v1.0
        name: database
        env:
        - name: DB_HOST
          value: mysql
        ports:
        - containerPort: 9000
---
apiVersion: v1
kind: Service
metadata:
  name: database
  namespace: cloud-ninjas
spec:
  selector:
    app: database
  ports:
  - port: 9000

