# Backend
backend:
  replicas: 2
  image:
    repository: selconyt/backend
    tag: v1.1
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8000
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
  secret:
    dbHost: "cloud-ninjas-app-mysql"   # ✅ CORRECT service name
    dbUser: "cloudninjas"
    dbPass: "root123"
    dbName: "cloudninjas"
    redisHost: "cloud-ninjas-app-redis" # ✅ Also fix Redis if needed

# MySQL
mysql:
  replicas: 1
  useAppUser: true
  image:
    repository: mysql
    tag: "8.0.44"
    pullPolicy: IfNotPresent
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"
  persistence:
    size: 10Gi
    accessMode: ReadWriteOnce
    # storageClass: ""  # uncomment in cloud
    pv:
      enabled: false
      size: 10Gi
      accessMode: ReadWriteOnce
      reclaimPolicy: Retain
      storageClassName: ""
      hostPath: /mnt/data/mysql
  livenessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
  readinessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 5
  secret:
    dbUser: cloudninjas
    dbPass: root123
    dbName: cloudninjas

# Frontend
frontend:
  replicas: 1
  containerPort: 8501
  image:
    repository: selconyt/frontend
    tag: v1.0
    pullPolicy: IfNotPresent
  # BACKEND_URL is auto-generated in template as http://{{ .Release.Name }}-backend:8000
  service:
    type: NodePort
    port: 80
    nodePort: 30080
  resources:
    limits:
      memory: "256Mi"
      cpu: "200m"
    requests:
      memory: "128Mi"
      cpu: "100m"

# Redis
redis:
  replicas: 1
  image:
    repository: redis
    tag: "7"
    pullPolicy: IfNotPresent
  args:
    - --save ""
    - --appendonly no
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "200m"
  livenessProbe:
    initialDelaySeconds: 10
    periodSeconds: 10
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 5
  service:
    type: ClusterIP
    port: 6379
  
roleBinding:
  name: cloud-ninjas-pod-reader
  namespace: cloud-ninjas
  
  #HPA_Backend
  namespace: cloud-ninjas

hpa:
  name: cloud-ninjas-backend-hpa
  targetDeployment: backend

  minReplicas: 2
  maxReplicas: 5

  cpu:
    enabled: true
    averageUtilization: 70

  memory:
    enabled: true
    averageUtilization: 75

 #ingress_Backend
 
ingress:
  name: backend-ingress
  className: nginx

  host: api.cloud-ninjas.example.com
  path: /
  pathType: Prefix

  serviceName: backend
  servicePort: 80
 #Backend_natwork_policy
networkPolicy:
  name: backend-policy

  backendAppLabel: backend
  frontendAppLabel: frontend
  databaseAppLabel: mysql

  backendPort: 8000
  databasePort: 3306

  dns:
    labelKey: k8s-app
    labelValue: kube-dns
